.page-layout-signup {
    background: #f6f6f6;
    flex-grow: 1;
    width: 100%; 
    height: 100vh;
    max-height: 100vh;
    display: flex;    
    align-items: center;
    justify-content: center; 
    overflow: "hidden"; 
    box-sizing: border-box;
  }
  
  @media (max-width: 375px){
    .page-layout-signup{
     height: 120vh;
    max-height: 120vh;
    }
    
  }